name: Documentation
on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install mkdocs-material pymdown-extensions>=10.7
      - name: Debug Info
        run: |
          python -m pip list
      - name: Build and Deploy
        run: |
          mkdocs gh-deploy --force
