name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  yamllint:
    name: YAML Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Lint Codebase
        uses: ./lint-codebase
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          validate-all: "true"
